<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<!-- Set title to current page title -->
		<title><%= current_page.data.title || "Catalyze Legal Docs" %></title>
		<meta name="description" content="Catalyze HIPAA Compliance">
		<!-- Set keyword content to current post keywords data -->
		<meta name="keywords" content="<%= current_page.data.keywords %>">
		<meta property="og:description" content="<%= current_page.data.summary %>">
		<meta property="og:title" content="Catalyze HIPAA Compliance" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://engineering.catalyze.io" />
		<meta property="og:image" content="/assets/img/logo.png" />
		<meta property="og:locale" content="en_US">
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:site" content="@catalyzeio" />
		<meta property="twitter:title" content="<%= current_page.data.seotitle %>" />
		<meta property="twitter:description" content="<%= current_page.data.summary %>" />
		<meta property="twitter:image" content="/assets/img/logo.png" />
		<link rel="icon" type="image/png" href="/favicon.png">
		<link href="//fhir.catalyze.io/favicon-54db3de7.png" rel="icon" type="image/png" />
		<%= partial "partials/ga" %>
		<%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", "styles", "syntax" %>
	</head>
	<body class="<%= page_classes %>">
		<div class="fixed-bar"></div>
		<%= partial "partials/header" %>
		<div class="cf grid">
			<%= partial "partials/menu" %>
			<section class="content">
				<% current_page.data.sections && current_page.data.sections.each do |include| %>
					<%= partial "sections/#{include}" %>
				<% end %>
				<%= yield %>
			</section>
		</div>
		<div class="stamp"><img src="/assets/img/stamp.gif" alt="Stamp"></div>
		<%= partial "partials/product-navigation" %>
		<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "all" %>
	</body>
</html>